<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static './login.css' %}" />
  </head>
  <body>
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
    <form action="login" , method="POST">
      {% csrf_token %} Username:
      <input
        class="Form"
        type="text"
        name="username"
        placeholder="Username"
      /><br />
      <br />
      <br />

      Password:
      <input
        class="Form"
        type="password"
        name="password"
        placeholder="Password"
      /><br />
      <br />
      <input class="Form" type="submit" />
    </form>
  </body>
</html>
